body {
  margin: 0px;
  padding: 0px;
  background-color: #03071e;
}

.cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #9d0208;
  height: 80vh;
  width: 80vw;
  margin: 50px auto;
  border-radius: 12px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 34px;
  padding: 12px 37px;
  position: relative;
  color: #9d0208;
  font-family: "Ubuntu", sans-serif;
  border: none;
  transition: all 1s ease;
  outline: 2px solid #9d0208;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  overflow: hidden;
}
#b1::before {
  content: "";

  background: #9d0208;
  position: absolute;
  height: 200%;
  width: 0%;
  z-index: -1;
  transition: all 1s ease;
}
#b1:hover::before {
  width: 100%;
}
#b1:hover {
  color: black;
}
#b2::before {
  content: "";

  background: #9d0208;
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: -1;
  transition: all 1s ease;
  transform: rotate(45deg);
}
#b2:hover::before {
  height: 350%;
}
#b2:hover {
  color: black;
}
#b3::before {
  content: "";
  background: #9d0208;
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: -1;
  transition: all 1s ease;
}
#b3:hover::before {
  height: 100%;
}
#b3:hover {
  color: black;
}

#b4::before {
  content: "";
  background: #9d0208;
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: -1;
  transition: all 1s ease;
  transform: rotate(-45deg);
}
#b4:hover::before {
  height: 450%;
}
#b4:hover {
  color: black;
}
#b5 {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  transition: all 0.5s ease;
  border: none;
  color: rgb(173, 189, 231);
  outline: 2px solid rgb(173, 189, 231);
}

#b5:hover {
  background: rgb(173, 189, 231);
  color: #03071e;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 120px auto;
  position: relative;
  border: 2px solid #adb5bd;
  background-image: url("13324.jpg");
  background-size: cover;
  z-index: 1;
  width: 80vw;
  height: 60vh;
}
.box input {
  text-align: center;
  font-family: "ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 7px;
  border: 2px solid #adb5bd;
  border-radius: 12px;
  outline: none;
  transition: all 1s ease;
  margin: 20px auto;
  width: 70%;
}
.box input:hover {
  width: 90%;
  background: #adb5bd;
}
.box h3 {
  color: #adb5bd;
  font-family: "ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}
.box #sub {
  color: #adb5bd;
  outline: 2px solid #adb5bd;
  margin: 20px auto;
}
.box #sub::before {
  content: "";
  background: #adb5bd;
  position: absolute;
  height: 0%;
  width: 100%;
  z-index: -100;
  transition: all 1s ease;
  transform: rotate(-45deg);
}
#sub:hover {
  color: black;
}

#sub:hover::before {
  height: 450%;
}
